/* LOADING */

@font-face {
    font-family: SFProBold;
    src: url(Content/font/SF_Pro_Bold.OTF);
}

@font-face {
    font-family: MazzardBold;
    src: url(Content/font/Mazzard_Extra_Bold.otf);
}

@font-face {
    font-family: SFProReg;
    src: url(Content/font/SF_Pro_Display_Regular.otf);
}

:root {
    --navTextColor: #edf0f1;
    --navTextHover: #0088a9;
    --navFont: SFProReg;
}



/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,html {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #181614;
    overflow-x:visible;
}

/* body {
 background:url('Content/Images/Background/front.webp');
 background-repeat:no-repeat;
 background-size: 100%;
} */


/* HEADER */

#header {
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 105px;
    min-height: 50px;
    background-color:rgba(0,0,0,0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition:background-color 50ms ease-in;
    
    /* box-shadow: 0px 3px 10px hsl(0, 0%, 30%,0.9); */
}

#footer {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-top:30px;
    height: 150px;
    background-color:rgba(0,0,0,0.7);
    
    /* box-shadow: 0px 3px 10px hsl(0, 0%, 30%,0.9); */
}

#header a,button,input,textarea,label {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-select: none;
}



/* logo */

#logo {
    display: flex;
    height: fit-content;
    align-items: center;
    margin-right: 20px; 
    cursor: pointer;
}


#footerLogo {
    height: 100px;
    cursor: pointer;
}

#mainLogo {
    height: 80px;
}

#brandName {
    color: white;
    font-family: SFProBold, sans-serif;
    word-spacing: 500vh;
    font-size: 33px;
    align-items: center;
    display: flex;
    margin-left: 15px;
    width: min-content;
}


/* navbar */

.nav {
    /* margin-left:22px; */
    /* padding-left:min(22px,10%); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.nav .navLinks {
    /* padding-left: 9%; */
    width: min(100%,1000px) ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.navLink {
    margin-left:clamp(25px,4%,80px);
    /* padding: 0px 10px; */
    list-style: none;
    text-align: center;
}

.navLink a {
    text-decoration: none;
    color: var(--navTextColor);
    font-family: var(--navFont), sans-serif;
    font-weight: 500;
    font-size: clamp(18px, 1vw, 20px);
    transition: color 0.1s ease-in-out;
}

.navLink a:hover {
    color: var(--navTextHover);
}

.navLink a:active {
    color: var(--navTextHover);
    opacity: 0.7;
}


/* contact */

#contactButton {
    padding: 9px 20px;
    margin-left: 20px;
    color: #edf0f1;
    font-family: SFProReg, sans-serif;
    font-size: clamp(17px, 1vw, 20px);
    background-color: rgb(0, 113, 227);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.1s ease-in;    
    opacity: 1;
}

#contactButton:hover {
    opacity: 0.7;
}

#contactButton:active {
    opacity: 0.5;
}

/* collapsed */

.navExtra {
    margin-right: 5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--navTextColor);
    font-weight: normal;
    font-size: 21px;
    font-family: var(--navFont), sans-serif;
    height:100%;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-select: none;
}

.dropdownSelect {
    align-self: center;
    display: flex;
    align-items: center;
}
 
.dropdownContents {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 4em;
    max-width: 55em;
    top: 0;
    width: min-content;
    min-width: 5em;
    background: rgba(255,255,255,0.1);
    padding: 0.3em 0.4em;
    border-radius: 7px;
    text-align: center;
    opacity: 0;
    display: none;
    transition: all 0.2s;
    z-index: 1;
}

.dropdownItem,.dropdownItem a {
    list-style: none;
    color: var(--navTextColor);
    /* text-align:center; */
}

.dropdownItem {
    padding: 5px 5px;
    width: 100%;
}

.dropdownItem:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.navExtra * {
    cursor: pointer;
}

.menu-open {
    animation: menu-open 0.2s ease-in forwards;
    display: block;
}

.menu-close {
    animation: menu-close 0.2s ease-in forwards;
    display: block;
}

@keyframes menu-open {
    0% {
        translate:0px -10px;
        opacity: 0;
    }
    100% {
        translate:0px 0px;
        opacity: 1;
    }
}

@keyframes menu-close {
    0% {
        translate:0px 0px;
        opacity: 1;
    }
    99% {
        translate:0px -10px;
        opacity: 0;
    }
    100% {
        translate:0px -500vh
    }
}

.dropdownIcon {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-select: none;
    margin-left: 3px;
    height: 16px;
    rotate: -90deg;
    transition: rotate 0.3s ease-in-out;
}

.dropdownIcon-active {
    rotate: 0deg;
}

.dropdownSelect:hover {
    color: #0088a9;
}

.dropdownSelect:active {
    color: #0088a9;
    opacity: 0.7;
}




/* @media (max-width: 768px) { */
@media only screen and (max-width: 1307px) and (min-width: 780px) {
    /* Medium */

    .nav {
        width: min-content;
    }

    #logo {
        margin: 0px;
        margin-left: 50px;
    }

    /* #contactButton {
        margin-left: 0px;
        font-size: 15px;
        padding:10px 17px;
    } */

    #logo #brandName {
        display: none;
    }

    #logo #mainLogo {
        height: 75px
    }

    .nav .navLinks {
        display: none;
    }

    .navExtra {
        display: flex;
    }

}

@media (max-width: 780px) {
    /* Smaller */

    .nav {
        width: min-content;
    }

    #logo {
        margin-right: 0px;
    }

    #contactButton {
        margin-left: 0px;
        font-size: 15px;
        padding: 10px 17px;
    }

    #logo #brandName {
        display: none;
    }

    #logo #mainLogo {
        height: 85px
    }

    .nav .navLinks {
        display: none;
    }

    .navExtra {
        display: flex;
    }


    #title {
        font-size: 50px !important;
    }

}


