

#banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0000ff;
    /* background: url(./Content/Images/Background/front.webp) no-repeat; */
    background-size: 100%;
    background-position-y: -150px;
    height:800px;
}


/* CONTENT */

#title {
    padding:30px;
    margin: 310px 0 0;
    width:min-content;
    /* position: absolute; */
    /* translate:-50% -50%; */
    /* top:50%;
    left:50%; */
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: SFProBold, sans-serif;
    font-size: 130px;
}



#subtitle {
    /* padding:auto; */
    width:fit-content;
    color: white;
    font-family: SFProBold, sans-serif;
    font-size: 60px;
}

#emailDetails {
    width: 500px;
    margin-top:20px;
    text-align: center;
    color: rgb(161, 161, 161);
    font-family: SFProBold, sans-serif;
    font-size: 25px;    
}


#emailButton {
    padding: 15px 50px;
    font-size: 30px;
    margin-top: 20px;
    background-color: rgb(0, 102, 255);
    border-radius: 55px;
    color: rgb(235, 235, 235);
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.1s ease-in-out;
}

#emailButton:hover {
    opacity: 0.6;
}