

/* CONTENT */

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0px 150px;
    flex-grow: 1;
    --overlay:0.4;
    background-color:rgb(53, 53, 53);
    background-image:linear-gradient(rgba(0, 0, 0, var(--overlay)), rgba(0, 0, 0, var(--overlay))), url('./Content/Images/Background/contact.webp');
    background-repeat: repeat-y;
    background-size: 100%;
    background-position-y: -350px;
    height:600px;
    --smallSize:-300px !important;
    /* height:100%; */
}

section {
    --sectionHeight:fit-content !important;
}

.bannerIcon {
    width:110px;
    height:110px;
    border-radius:20px;
    /* background-color:rgba(42, 92, 255,0.4);
    border:5px solid rgba(60, 105, 255,0.7); */
    display:flex;
    justify-content:center;
    align-items:center;
}

.bannerIcon img {
    opacity: 0.95;
    width:100%;
    height:100%;
    rotate:-10deg;
}

.bannerIcons .bannerIcon:last-child img {
    translate:50px -10px;
    rotate:0deg;
}



/* #banner::after {
    content: "";
    width:100%;
    height:100%;
    background:red; 
}*/

#title {
    margin-top:50px;
    width:min-content;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: SFProBold, sans-serif;
    font-size: 120px;
}


#subtitle {
    /* padding:auto; */
    width:fit-content;
    color: white;
    font-family: SFProBold, sans-serif;
    font-size: 70px;
}

#emailDetails {
    width: 90%;
    max-width: 500px;
    margin-top:10px;
    text-align: center;
    color: rgb(161, 161, 161);
    font-family: SFProBold, sans-serif;
    font-size: 25px;    
}


#emailButton {
    padding: 15px 60px;
    font-size: 30px;
    margin-top: 50px;
    background-color: rgb(0, 102, 255);
    border-radius: 55px;
    color: rgb(235, 235, 235);
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.1s ease-in-out;
    border:5px solid rgb(50,80,250);
}

#emailButton:hover {
    opacity: 0.6;
}