* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body,html {
    position: absolute;
    inset:0;
    width:100%;
    height: 100%;
}



@font-face {
    font-family: myFont;
    src: url(font.otf);
}

#header {
    position: fixed;
    /* backdrop-filter: blur(4px); */
    background:hsla(0, 0%, 25%,1);
    width:100%;
    height: fit-content;
    min-height:100px;
    /* box-shadow: 0px 3px 10px hsl(0, 0%, 30%,0.9); */
}


#mainlogo {
    padding:15px;
}

#mainlogo img {
    width:85px;
    cursor:pointer;
}


#banner {
    width:100%;
    height:500%;
    /* overflow: hidden; */
    background:#1f1d1a
}


#title {
    padding:30px;
    position: absolute;
    translate:-50% -50%;
    top:50%;
    left:50%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: myFont, sans-serif;
    font-size: 100px;
    transition: 100ms color;
    cursor: pointer;
}

#title:hover {
    color: gray
}

#box {
    background:grey
}


body {
    background: rgb(112, 67, 0);
}