* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body,html {
    position: absolute;
    inset:0;
    width:100%;
    height: 100%;
}



@font-face {
    font-family: SFProBold;
    src: url(Content/font/SF_Pro_Bold.OTF);
}

#header {
    position: fixed;
    /* backdrop-filter: blur(4px); */
    background:hsla(0, 0%, 25%,1);
    width:100%;
    height: fit-content;
    min-height:50px;
    display: flex;
    /* box-shadow: 0px 3px 10px hsl(0, 0%, 30%,0.9); */
}


#main_logo {
    padding: 15px;
    padding-left: 50px;
}

#main_logo img {
    height: 70px;
    cursor: pointer;
}

#brand_name {
    color: white;
    font-family: SFProBold;
    font-size: 40px;
    line-height: 92%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#banner {
    width:100%;
    height:500%;
    /* overflow: hidden; */
    background:#1f1d1a
}


#title {
    padding:30px;
    position: absolute;
    translate:-50% -50%;
    top:50%;
    left:50%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: SFProBold, sans-serif;
    font-size: 100px;
    transition: 100ms color;
    cursor: pointer;
}

#title:hover {
    color: gray
}

#box {
    background:grey
}


body {
    background: rgb(112, 67, 0);
}