/* LOADING */

@font-face {
    font-family: SFProBold;
    src: url(Content/font/SF_Pro_Bold.OTF);
}

@font-face {
    font-family: MazzardBold;
    src: url(Content/font/Mazzard_Extra_Bold.otf);
}

@font-face {
    font-family: SFProReg;
    src: url(Content/font/SF_Pro_Display_Regular.otf);
}



/* RESET */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body,html {
    position: absolute;
    inset:0;
    width:100%;
    height: 100%;
    background-color:#1f1d1a
}



/* HEADER */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: fit-content;
    min-height:50px;
    /* box-shadow: 0px 3px 10px hsl(0, 0%, 30%,0.9); */
}


/* logo */

#logo {
    display: flex;
    height:fit-content;
    align-items: center;
    margin-right: 120px; 
    cursor: pointer;
}

#mainLogo {
    height: 80px;
}

#brandName {
    color: white;
    font-family: SFProBold, sans-serif;
    word-spacing:500vh;
    font-size: 33px;
    align-items: center;
    display: flex;
    margin-left:15px;
    width:min-content;
}


/* navbar */

#nav {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

#nav ul {
    padding-left:8%;
    width:min(100%,1150px) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navLink {
    padding:0px 10px;
    list-style: none;
   text-align: center;

}

.navLink a {
    text-decoration: none;
    color: #edf0f1;
    font-family: SFProReg, sans-serif;
    font-weight: 500;
    font-size:18px; 
    transition: color 0.1s ease-in-out;
}

.navLink a:hover {
    color: #0088a9;
}

.navLink a:active {
    color: #0088a9;
    opacity:0.7;
}


/* contact */

#contactButton {
    padding: 11px 26px;
    margin-left:20px;
    color: #edf0f1;
    font-family: SFProReg, sans-serif;
    font-size: 17px;
    background-color: hsl(192, 100%, 33%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.1s ease-in;    
    opacity: 1;
}

#contactButton:hover {
    opacity: 0.7;
}

#contactButton:active {
    opacity: 0.5;
}




/* CONTENT */

#title {
    padding:30px;
    width:min-content;
    position: absolute;
    translate:-50% -50%;
    top:50%;
    left:50%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: SFProBold, sans-serif;
    font-size: 100px;
    transition: 100ms color;
    cursor: pointer;
}

#title:hover {
    color: gray
}